h1 {
  text-align: center;
}

main {
  position: relative;
  padding: 100px;
  background-color: lightblue;
}

section {
  position: relative;
  margin: 30px 0 0 0;
  padding: 3px;
  background-color: lightblue;
}

.high {
  color: red;
}

.medium {
  color: orange;
}

.low {
  color: gray;
}
     
