.high { 
  color : red;
  font-size : 26pt;
}
.medium {
  color: orange;
  font-size : 26pt;
}
.low {
  color: gray;
  font-size : 26pt;
}
.done {
  font-size : 26pt;
  text-decoration : line-through;
  
}
h1 {
  font-size : 34pt;
  text-align : center;
  text-decoration : underline;
}
ul {
  text-align : center;
}

